* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

input[type=file]::file-selector-button, input[type=submit] {
    margin-right: 20px;
    border: 1px solid #fff;
    background: #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px;
    color: #000;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file] {
    border-right: 1px solid #fff;
    margin-right: 20px;
    padding-right: 20px;
}

input[type=file]::file-selector-button:hover, input[type=submit]:hover {
    background: #000;
    color: #fff;
}

section {
    display: grid;
    grid-template-columns: 30% 70%;
    height: calc(100vh - 100px);
}

.files {
    background-color: #f1f1f1;
}

ul {
    overflow: auto;
    height: calc(100vh - 100px);
}

li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #000;
    background-color: #bbb;
    text-decoration: none;
    font-size: 36px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}

li:hover {
    background-color: #000;
    text-decoration: underline;
    color: #fff;
}

